<ion-view title="Jaomy" cache-view="false">
  <ion-content class="has-header" ng-controller="HomeController">
        <div class="list list-inset">
            <div class="item" ng-repeat='pocket in pockets'>
              {{pocket.name}}
            </div>   
        </div>
  </ion-content>
</ion-view>
 