<ion-view title="Settings" cache-view="false">
  <ion-content class="has-header" ng-controller="SettingsController">
        <ul class="list">

          <li class="item item-toggle">
             Share my pockets on Facebook
             <label class="toggle toggle-positive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             Invite people attached to pocket
             <label class="toggle toggle-positive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>     
          <li class="item item-toggle">
             Only owner edit pocket data
             <label class="toggle toggle-assertive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>              

        </ul>
  </ion-content>
</ion-view>
