<ion-view title="Add new pocket" cache-view="false">
  <ion-content class="has-header" ng-controller="PocketController as pocket">

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Order" ng-model="pocket.order">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Price" ng-model="pocket.price">
      </label>

      <div class="item range range-dark item-stacked-label">
        <span class="input-label">Number of Players: {{pocket.players}}</span>
        <i class="icon ion-person"></i>
        <input type="range" name="players" min="1" max="10" value="2" ng-model="pocket.players">
        <i class="icon ion-person-stalker"></i>
      </div>
      <label class="item item-input">
        <textarea placeholder="Notes" ng-model="pocket.notes"></textarea>
      </label>

      <form ng-submit='pocket.addPocket(pocket)'>
        <button class="button button-positive">
          Submit
        </button>
      </form>
    </div>



    <div class="list">
      <label class="item item-input">
        <p>Order: {{pocket.order}} </p>
      </label>

      <label class="item item-input">
        <p>Price: {{pocket.price | currency}} </p>
      </label>

    </div>


    <div class='list' ng-show='pocket.havePockets'>
      <span class="input-label">Pockets:</span>
      <div class="item" ng-repeat='pocket in pockets'>
        {{pocket.name}}
        <!--
        Here should be all the pockets i created and added into angular controller..
        But i don't know exactly how to push there the items i created.
        -->
      </div>
    </div>
  </ion-content>
</ion-view>
